<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qwer.module.codeGroup.CodeGroupDao">

	<resultMap id="resultMapObj" type="com.qwer.module.codeGroup.CodeGroupDto"></resultMap>
	
	<sql id="selectCommon">
        FROM codegroup a
        WHERE 1=1
        <if test="shDelNy != null and !shDelNy.equals('')">AND a.cgUseNy = #{shDelNy}</if>
<!--         <if test="cgDateUp != null and !cgDateUp.equals('')">AND a.cgDateUp = #{cgDateUp}</if> -->
        <choose>
            <when test="shOption == 1">AND cgseq = #{shValue}</when>
            <when test="shOption == 2">AND cgName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND cgNameEng LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
	 
	<select id="selectOneCount" resultType="Integer">
	           <!-- DAO함수 -->
		SELECT COUNT(*) <!-- 데이터가 총 몇개가 있는지  -->
		<include refid="selectCommon"/> <!-- include refid=이름은 해당되는 id를 이 위치에 갖고 오겠다 -->
	</select>
	
	   

	  <select id="selectList" resultMap="resultMapObj">
	    SELECT aa.* 
FROM (
    SELECT 
        cgseq,
        cgName,
        cgNameEng,
        cgUseNy,
        cgNum,
		(select count(*) from code where 1=1 and codeGroup_cgseq = cgseq) as xCount,
		                                                               <!--xCount:사용된 이름을 같게할수없다-->
        cgExplanation,
        cgDelNy, 
        cgDateUp,
        cgDateSet
    FROM codegroup 
    WHERE cgDelNy = 0 
    ORDER BY cgseq DESC
) aa
	limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	  <select id="selectOne" resultMap="resultMapObj">
    SELECT 
        cgseq,
        cgName,
        cgNameEng,
        cgUseNy,
        cgNum,
		(select count(*) from code where 1=1 and codeGroup_cgseq = cgseq) as xCount,
		                                                               <!--xCount:사용된 이름을 같게할수없다-->
        cgExplanation,
        cgDelNy, 
        cgDateUp,
        cgDateSet
    FROM codegroup 
    WHERE 1=1
    AND cgDelNy = #{cgDelNy}
    and cgseq = #{cgseq}
    ORDER BY cgseq DESC
	</select>
	
	  <select id="selectListForCodeSelect" resultMap="resultMapObj">
    SELECT 
        cgseq,
        cgName,
        cgNameEng,
        cgUseNy,
        cgNum,
        cgExplanation,
        cgDelNy, 
        cgDateUp,
        cgDateSet
    FROM codegroup 
    WHERE cgDelNy = 0 
    ORDER BY cgseq DESC
	</select>
	  
	  <insert id="insert"> 
		insert into codegroup (				 
				
				cgAnotherseq,
				cgName,
			    cgNameEng,		
			    cgUseNy,
			    cgNum,
			    cgExplanation,
			    cgDelNy,
			    cgDateUp,
   				cgDateSet
		 ) values (			 
			
			#{cgAnotherseq},
			#{cgName},
			#{cgNameEng},
			#{cgUseNy},
			#{cgNum},
			#{cgExplanation},
			0,
			now(),
			now()

			
		)
		
		<selectKey resultType="String" keyProperty="cgseq" order="AFTER">
				SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE codegroup
		SET 
				cgAnotherseq = #{cgAnotherseq},
				cgName=#{cgName},
			    cgNameEng=#{cgNameEng},		
			    cgUseNy=#{cgUseNy},
			    cgNum=#{cgNum},
			    cgExplanation=#{cgExplanation},
			    cgDateUp=#{cgDateUp},
   				cgDateSet=#{cgDateSet}
		WHERE
			cgseq = #{cgseq}
	</update>
	
	<update id="uelete">
		UPDATE codegroup
		SET
			cgDelNy = 1
		WHERE
			cgseq = #{cgseq}
	</update>
	
	<delete id="delete">
		DELETE FROM codegroup
		WHERE
			cgseq = #{cgseq}
	</delete> 
	
</mapper>