<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/head :: head}"></div>
<div th:replace="~{xdm/include/top :: top}"></div> 
<div th:replace="~{xdm/include/left :: left}"></div> 
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                <div class="card-body">
                    <h1 class="#">Member</h1>

                    <div class="table-responsive">
                        <div class="col">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">기본 정보</h4>
                                    <div class="basic-form">
                            <form method="post" id="form">
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <div>
                                                    <label for="memberseq">코드그룹 코드<span style="color: red;">*</span></label>
                                                    <div class="basic-form">
                                                        <div class="form-group">
                                                            <input class="form-control" type="text"  name="memberseq" id="memberseq"
                                                                placeholder="자동 생성" readonly="readonly" >
                                                        </div>
                                                        <br>
                                                    </div>
                                                    </div>
                                                    <div>
                                                        <label for="cgUseNy">사용 여부<span style="color: red;">*</span></label>
                                                        <select id="cgUseNy" class="form-control">
                                                            <option selected="selected" >사용</option>
                                                            <option selected="selected" >미사용</option>
                                                         <!--    <option">미사용</option> -->
                                                        </select>
                                                        <!-- <h4 class="card-title">Textarea</h4> -->
                                                        <div class="basic-form">
                                                            <div class="form-group" style="margin-top: 15%;">
                                                                <label for="cgExplanation" >설명</label>
                                                                <textarea class="form-control h-150px"
                                                                    rows="6" name="cgExplanation" id="cgExplanation"></textarea>
                                                            </div>
                                                        </div>
                                                    </div><!--요기-->
                                                    <div>
	                                                    <a href="/xdm/member/MemberpXdmList"><button type="button" class="btn btn"><svg
	                                                                xmlns="http://www.w3.org/2000/svg"
	                                                                width="16" height="16" fill="currentColor"
	                                                                class="bi bi-list-task" viewBox="0 0 16 16">
	                                                                <path fill-rule="evenodd"
	                                                                    d="M2 2.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5V3a.5.5 0 0 0-.5-.5zM3 3H2v1h1z" />
	                                                                <path
	                                                                    d="M5 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M5.5 7a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1zm0 4a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1z" />
	                                                               <path fill-rule="evenodd"
	                                                                    d="M1.5 7a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5zM2 7h1v1H2zm0 3.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm1 .5H2v1h1z" />
	                                                            </svg></button></a> 
									                            
									                             <!--    <div class="bootstrap-modal" >  -->
									                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#basicModal">
									                                    	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
								                                            <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
								                                            </svg>
							                                            </button>
									                                    <!-- Modal -->
									                                    <div class="modal fade" id="basicModal">
									                                        <div class="modal-dialog" role="document">
									                                            <div class="modal-content">
									                                                <div class="modal-header">
									                                                    <h5 class="modal-title">삭제 하시겠습니까?</h5>
									                                                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
									                                                    </button>
									                                                </div>
									                                               
									                                                <div class="modal-footer">
									                                                    <button type="button" class="btn btn-secondary"  data-dismiss="modal">취소</button>
									                                                    <a href="javascript:void(0);"><button button type="button" id="btnSave2" class="btn btn">삭제</button>
									                                                </div></a>
									                                            </div>
									                                        </div>
									                                    </div>
									                                <!-- </div> -->
	                                                      </div> 
                                                </div>	
                                                
                                                <div class="form-group col-md-3">
                                                    <div class="">
                                                        <!-- <div class=""> -->
                                                        <div></div>
                                                        <div></div>
                                                        <div></div>
                                                        <label for="cgAnotherseq">코드그룹 코드(ANOTHER)</label>
                                                        <!-- <h4 class="card-title">코드(ANOTHER)</h4> -->
                                                        <div class="basic-form">
                                                            <div class="form-group" >
                                                                <input class="form-control" type="text" name="cgAnotherseq" id="cgAnotherseq"
                                                                    placeholder="영대 소문자,숫자" >
                                                            </div>
                                                        </div><br>
                                                        <label for="cgNum">순서<span style="color: red;">*</span></label>
                                                        <!-- <h4 class="card-title">코드(ANOTHER)</h4> -->
                                                        <div class="basic-form">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" name="cgNum" id="cgNum"
                                                                    placeholder="" >
                                                            </div>
                                                        </div>
                                                        <!-- </div>                   -->
                                                        
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <div class="">

                                                        <label for="cgName">코드그룹 이름<span style="color: red;">*</span></label>
                                                        <!-- <h4 class="card-title">코드(ANOTHER)</h4> -->
                                                        <div class="basic-form">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" name="cgName" id="cgName"
                                                                    placeholder="한글,영대 소문자,숫자"  >
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group col-md-3">
                                                    <div class="">
                                                        <label for="cgNameEng">코드 이름(영문)</label>
                                                        <!-- <h4 class="card-title">코드(ANOTHER)</h4> -->
                                                        <div class="basic-form">
                                                            <div class="form-group">
                                                                <input class="form-control" type="text" name="cgNameEng" id="cgNameEng"
                                                                    placeholder="한글,영대 소문자,숫자"  >
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>
                                                        <br>

                                                        <div class="form-group" style="margin-top: 20.5%;">
                                                            <button type="button" id="btnSave" class="btn btn"
                                                                    style="float: right;"><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    width="16" height="16" fill="blue"
                                                                    class="bi bi-database-fill"
                                                                    viewBox="0 0 16 16">
                                                                    <path
                                                                        d="M3.904 1.777C4.978 1.289 6.427 1 8 1s3.022.289 4.096.777C13.125 2.245 14 2.993 14 4s-.875 1.755-1.904 2.223C11.022 6.711 9.573 7 8 7s-3.022-.289-4.096-.777C2.875 5.755 2 5.007 2 4s.875-1.755 1.904-2.223" />
                                                                    <path
                                                                        d="M2 6.161V7c0 1.007.875 1.755 1.904 2.223C4.978 9.71 6.427 10 8 10s3.022-.289 4.096-.777C13.125 8.755 14 8.007 14 7v-.839c-.457.432-1.004.751-1.49.972C11.278 7.693 9.682 8 8 8s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972" />
                                                                    <path
                                                                        d="M2 9.161V10c0 1.007.875 1.755 1.904 2.223C4.978 12.711 6.427 13 8 13s3.022-.289 4.096-.777C13.125 11.755 14 11.007 14 10v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972" />
                                                                    <path
                                                                        d="M2 12.161V13c0 1.007.875 1.755 1.904 2.223C4.978 15.711 6.427 16 8 16s3.022-.289 4.096-.777C13.125 14.755 14 14.007 14 13v-.839c-.457.432-1.004.751-1.49.972-1.232.56-2.828.867-4.51.867s-3.278-.307-4.51-.867c-.486-.22-1.033-.54-1.49-.972" />
                                                                </svg>
                                                            </button>
                                                        </div>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- #/ container -->
            </div>
    </div>
</div>
</div>
    <!--**********************************
        Content body end
    ***********************************-->
    <script type="text/javascript">
    let form = document.getElementById("form");
    document.getElementById("btnSave").onclick = function(){
		form.action="/xdm/member/MemberXdmUpdt"
        form.submit();
    }
	
    document.getElementById("btnSave2").onclick = function(){
		form.action="/xdm/member/MemberXdmUelt"
        form.submit();
    }

	docum
    </script>

    <div th:replace="~{xdm/include/footer :: footer}"></div>