<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<th:block th:fragment="footer">
<!--**********************************
            Footer start
        ***********************************-->
        <!-- <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a>
                    2018</p>
            </div>
        </div> -->
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/xdm/template/quix/plugins/common/common.min.js"></script>
    <script src="/xdm/template/quix/js/custom.min.js"></script>
    <script src="/xdm/template/quix/js/settings.js"></script>
    <script src="/xdm/template/quix/js/gleek.js"></script>
    <script src="/xdm/template/quix/js/styleSwitcher.js"></script>

    <script src="/xdm/template/quix/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="/xdm/template/quix/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/xdm/template/quix/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>
	<script src="https://kit.fontawesome.com/fb7a9e9d77.js" crossorigin="anonymous"></script>

</body>

</html>
</th:block>