<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{xdm/include/head :: head}"></div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <ol class="breadcrumb_jihye">
                                    <li class="#"><a href="javascript:void(0)"><span style="color: blue;">page1 >&nbsp;</span></a></li>
                                    <li class="#"><a href="javascript:void(0)"><span style="color: blue;">page2 >&nbsp;</span></a></li>
                                    <li class="#"><a href="javascript:void(0)"> Default</a></li>
                                </ol>
                                <h1 class="card-title2">code group</h1>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>N</option>
                                                <option>Y</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>검색구분</option>
                                                <option>코드그룹 코드</option>
                                                <option>코드그룹 이름</option>
                                                <option>코드 이름(영문)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>Y</option>
                                                <option>N</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" type="text"
                                                placeholder="자동" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option >날짜</option>
                                                <option >등록일</option>
                                                <option >수정일</option>
                                                
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" style="width: 40px; height: 40px; margin-left: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                                              </svg></button>
                                            <button type="button" style="width: 40px; height: 40px; margin-left: 5px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"/>
                                                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"/>
                                              </svg></button>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="2025-01-05" id="mdate">
                                        </div>                                    
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="2025-02-04" id="mdate">                                     
                                    </div>

                                <div class="table-responsive">


                                    <!-- <div class="message">
                                        <a href="email-read.html">
                                            <div class="col-mail col-mail-1">
                                                <div class="email-checkbox">
                                                    <input type="checkbox" id="chk19">
                                                    <label class="toggle" for="chk19"></label>
                                                </div><span class="star-toggle ti-star"></span>
                                            </div>
                                            <div class="col-mail col-mail-2">
                                                <div class="subject">Almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</div>
                                                <div class="date">11:49 am</div>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="message unread">
                                        <a href="email-read.html">
                                            <div class="col-mail col-mail-1">
                                                <div class="email-checkbox">
                                                    <input type="checkbox" id="chk20">
                                                    <label class="toggle" for="chk20"></label>
                                                </div><span class="star-toggle ti-star"></span>
                                            </div>
                                            <div class="col-mail col-mail-2">
                                                <div class="subject">Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of</div>
                                                <div class="date">11:49 am</div>
                                            </div>
                                        </a>
                                    </div> //이메일 인덱스 활용해서 링크 타고 갈수있게 작업해야함-->  

                                    <table class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" id="chk5">
                                                    <label class="toggle" for="chk5"></label>
                                                </th>
                                                <th>#</th>
                                                <th>사용</th>
                                                <th>코드그룹 코드</th>
                                                <th>코드그룹 이름</th>
                                                <th>코드그룹 이름(영문)</th>
                                                <th>갯수</th>
                                                <th>순서</th>
                                                <th>등록일</th>
                                                <th>수정일</th>
                                            </tr>
                                        </thead>
                                        <tbody>
											<tr th:if="${#lists.isEmpty(list)}" th:each="list : ${list}">
	                                            <td><div>no data</div></td>
	                                        </tr>
											
                                            <tr th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
                                                <td><input type="checkbox" id="chk5">
                                                    <label class="toggle" for="chk5"></label>
                                                </td>
                                                <td th:text="${list.cgseq}"></td>
                                                <td th:text="${list.cgUseNy}"></td>
                                                <td th:text="${list.cgAnotherseq}"></td>
                                                <td th:text="${list.cgName}"></td>
                                                <td th:text="${list.cgNameEng}"></td>
                                                <td ></td>
                                                <td th:text="${list.cgNum}"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div>
									<button  type="button" class=btn btn><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-file-x-fill" viewBox="0 0 16 16">
                                    <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M6.854 6.146 8 7.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 8l1.147 1.146a.5.5 0 0 1-.708.708L8 8.707 6.854 9.854a.5.5 0 0 1-.708-.708L7.293 8 6.146 6.854a.5.5 0 1 1 .708-.708"/>
                                  </svg></button>
								  </div>&nbsp;
                                  <div><button type="button" class=btn btn><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                  </svg></button></div>
                                <div class="col" style=" text-align: right;">
                                    <button type="button" class="btn btn"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-file-earmark-x-fill" viewBox="0 0 16 16">
                                        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M6.854 7.146 8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 1 1 .708-.708"/>
                                      </svg></button>
                                <a href="/xdm/codegroup/CodeGroupXdmForm"><button type="button" class="btn btn" 
                                        ><svg
                                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue"
                                            class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                                        </svg>
                                        </svg></button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

		<div th:replace="~{xdm/include/footer :: footer}"></div>
        